<%- include('header') -%>

<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Login System</h2>
            <span>Log in for the existing user</span>
            <% if(locals.logout){ %>
                <div class="alert alert-success text-center">
                    <%= logout %>
                </div>
            <% } %>
        </div>
        <form action="/route/login" method="POST" class="pt-3">
            <div class="form-group">
                <small class="form-text text-muted text-left">Registered email address</small>
                <input type="email" class="form-control" placeholder="Email" name="email" required>
            </div>
            <div class="form-group">
                <small class="form-text text-muted text-left">Password</small>
                <div class="input-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                    <div class="input-group-append">
                        <span class="input-group-text" id="show-password" onclick="showPassword()" style="cursor: pointer;">
                            <img src="https://www.svgrepo.com/show/12044/eye.svg" alt="Show Password" width="20" height="20">
                        </span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
        </form>
        <div class="pt-3">
            <p class="text-muted">Not registered? <a href="/route/signup">Signup</a></p>
        </div>
    </div>
</div>

<%- include('footer') -%>

<script>
    function showPassword() {
        const passwordInput = document.getElementById('password');
        const showPasswordIcon = document.getElementById('show-password');
        const isPasswordVisible = passwordInput.type === 'text';
        passwordInput.type = isPasswordVisible ? 'password' : 'text';
        showPasswordIcon.innerHTML = isPasswordVisible 
            ? '<img src="https://www.svgrepo.com/show/12044/eye.svg" alt="Show Password" width="20" height="20">'
            : '<img src="https://www.svgrepo.com/show/87969/hide.svg" alt="Hide Password" width="20" height="20">';
    }
</script>
