    <div class="footer" style="background-color:#1a2027 ;color:white;"
    <div class="footer-content">
        <div class="copyright">
            &copy; 2023 STranslator. All Rights Reserved.
        </div>
        <div class="contact-info">
            <a href="mailto:contact@STranslator.com">contact@Stranslator.com</a>
            <span>|</span>
            Phone: +91-0987654321
        </div>
    </div>

</body>
</html>