<%- include('header') -%>

<div class="text-center center-div" id="signup">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Signup System</h2>
            <span>Create a new account</span>
        </div>
        <form action="/route/signup" method="POST" class="pt-3">
            <div class="form-group">
                <small class="form-text text-muted text-left">Enter your name</small>
                <input type="text" class="form-control" placeholder="Name" name="name">
            </div>
            <div class="form-group">
                <small class="form-text text-muted text-left">Enter your email address</small>
                <input type="email" class="form-control" placeholder="Email" name="email">
                
            </div>
            <div class="form-group">
                <small class="form-text text-muted text-left">Enter your Password (Password must be atleast 6 characters)</small>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary rounded-pill">Signup</button>
        </form>
        <div class="pt-3">
            <p class="text-muted">Already have an account? <a href="/route/login">Login</a></p>
        </div>
    </div>
</div>

<%- include('footer') -%>
